services:
  postgres:
    image: postgres:17-alpine
    container_name: sunny-postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=postgres

volumes:
  postgres-data:
